@use './assets/styles/variables.scss' as *;

.payment-page {
  &__title {
    color: $white;
    background-color: $primary;
    padding: 20px;
    font-size: 25px;
    margin: 0;
  }

  &__content {
    min-height: calc(100vh - 200px);
    width: 100%;
    max-width: 840px;
    background-color: $white;
    position: relative;
    padding-bottom: 54px;
    box-shadow: 1px 1px 4px 3px rgba($black, 0.08);
  }

  &__total {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid $gray;

    @media screen and (max-width: 840px) {
      padding: 20px;
    }
  }

  &__method {
    width: 100%;
    border-bottom: 1px solid $gray;

    &__title {
      padding: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $gray;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      width: 100%;
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s;
      padding: 0 20px;
    }
  }

  &__method.open {
    .payment-page__arrow {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .payment-page__method__content {
      max-height: unset;
      padding: 0 20px 20px 20px;
    }
  }

  &__arrow {
    border: solid $gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    transition: 0.2s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);

    &:hover {
      opacity: 0.6;
    }
  }

  &__pay-loading {
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.2);
    z-index: 999;
  }

  &__paypal {
    background-color: #fec640;
    width: 100px;
    border: 0;
    padding: 5px 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: not-allowed;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 100%;
    }
  }

  &__completed {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: $green;
    font-weight: bold;
    margin: 80px 0 20px 0;

    &__subtitle {
      margin-top: 5px;
      font-size: 18px;
      padding-bottom: 20px;
      font-weight: normal;
    }

    &__link {
      width: 100%;
      text-align: center;
    }

    &__image {
      width: 200px;
      margin-left: calc(50% - 100px);
      margin-bottom: 20px;
    }
  }
}