@use 'assets/styles/variables.scss' as *;

.mobile-menu {
  position: relative;

  .mobile-menu-icon {
    cursor: pointer;
    background-color: $white;
    border: 0;

    .menu-line {
      background-color: $primary;
      width: 25px;
      height: 3px;
      margin: 4px 0;
      transition: 0.3s;
    }

    &.active {
      .menu-line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }

      .menu-line:nth-child(3) {
       transform: rotate(-45deg) translate(4px, -4px);
      }

      .menu-line:nth-child(2) {
        opacity: 0;
      }
    }
  }

  .mobile-links, .logged-menu {
    z-index: 999;
    position: absolute;
    background-color: $white;
    right: -25px;
    top: 30px;
    padding: 10px 0;
    box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.2s ease-in-out;

    .mobile-link {
      font-size: 25px;
      padding: 10px 30px;
      font-weight: bold;
      color: $primary;
      text-align: right;
    }
  }
}