@use './assets/styles/variables.scss' as *;

.cart-item {
  position: relative;
  @media screen and (max-width: 840px) {
    flex-wrap: wrap;
  }
  &:nth-child(odd) {
    background-color: rgba($gray, 0.08);
  }

  &__remove {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
    padding: 0;
    border: 0;
    background-color: transparent;
    filter: contrast(0);
    cursor: pointer;

    img {
      width: 100%;
      margin: auto;
    }

    &:hover {
      filter: contrast(50);
    }
  }

  &__banner {
    width: 300px;
    margin-bottom: -4px;
    img {
      width: 100%;
    }

    @media screen and (max-width: 840px) {
      width: 100%;
    }
  }

  &__info {
    padding: 20px;
    width: calc(100% - 480px);

    @media screen and (max-width: 840px) {
      width: calc(70% - 40px);
    }
  }

  &__title {
    font-weight: bold;
    color: $gray;
    letter-spacing: 1px;
  }

  &__tags {
    margin-top: 5px;
    gap: 2px;
  }

  &__price {
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    color: $gray;
    letter-spacing: 1.5px;
    padding-right: 40px;
    text-align: right;

    @media screen and (max-width: 840px) {
      width: calc(30% - 20px);
      padding-right: 20px;
    }
  }
}