@use './assets/styles/variables.scss' as *;

.product-page {

  &__container {
    align-items: center;
    padding: 20px;
    justify-self: center;
  }

  &__button {
    width: 100%;
    padding: 30px 50px;
    font-size: 25px;
    color: $white;
    background-color: $primary;
    border: 2px solid $white;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin: 20px 0;

    &:hover {
      opacity: 0.8;
    }
  }
  
  &__title {
    color: $white;
    background-color: $primary;
    padding: 20px;
    font-size: 25px;
    margin: 0;
  }

  &__text {
    padding: 50px 30px;
    width: calc(60% - 60px);
    letter-spacing: 2px;
    color: $gray;
    white-space: pre-line;

    &--second {
      width: 100%;
      padding-top: 0;
    }


    @media screen and (max-width: 800px) {
      margin-top: 30px;
      padding: 0 25px 60px;
    }
  }

  &__banner {
    width: calc(40% - 20px);
    padding: 10px;
    min-height: 12vh;
    animation: loadBanner 1.5s infinite;

    img {
      width: 100%;
      margin-bottom: -5px;
    }
  }
}