@use './assets/styles/variables.scss' as *;

$breakpoint: 1000px;

.product-page {

  .d-flex {
    @media screen and (max-width: $breakpoint) {
      display: block;
    }
  }

  &__container {
    align-items: start;
    justify-self: center;
  }

  &__button {
    padding: 10px 30px;
    font-size: 20px;
    color: $black;
    text-decoration: underline;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 50px;
    transition: 0.1s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;

    &:hover {
      opacity: 0.7;
      transform: scale(1.04);
    }
  }
  
  &__title {
    color: $white;
    background-color: $primary;
    padding: 20px;
    font-size: 25px;
    margin: 0;
  }

  &__text {
    width: calc(60% - 60px);
    padding: 25px;
    letter-spacing: 2px;
    color: $gray;
    white-space: pre-line;

    @media screen and (max-width: $breakpoint) {
      padding: 25px;
      width: calc(100% - 50px);
    }

    &--second {
      width: 100%;
      padding-top: 0;
      padding-top: 25px;

      @media screen and (max-width: $breakpoint) {
        padding: 25px;
        padding-top: 15px;
        width: calc(100% - 50px);
      }
    }

  }

  &__banner {
    width: calc(40% - 25px);
    padding: 25px;
    min-height: 12vh;
    padding-right: 0;

    @media screen and (max-width: $breakpoint) {
      width: 100%;
      padding: 0;
    }

    &__loading {
      width: 100%;
      min-height: 350px;
      animation: bannerLoading 2s infinite;
    }

    img {
      width: 100%;
      margin-bottom: -5px;
    }
  }

  @keyframes bannerLoading {
    0%{
      background-color: rgba($light-gray, 0.8);
    }

    50%{
      background-color: rgba($light-gray, 0.4);
    }

    100%{
      background-color: rgba($light-gray, 0.8);
    }
  }
}