@use 'assets/styles/variables.scss' as *;

.pagination {
  padding-bottom: 50px;
  button {
    margin: 5px;
    background-color: transparent;
    color: $primary;
    font-size: 16px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;

    &.selected {
      color: $black;
      font-size: 19px;
    }

    &:hover {
      opacity: 0.6;
      text-decoration: underline;
      transform: scale(1.1);
    }
  }

  &__arrow{
    border: 2px solid rgba($light-gray, 0.2) !important;
    border-radius: 10px;
    padding: 6px 10px;

    &:hover {
      opacity: 0.6;
      text-decoration: none !important;
    }
  }
}