@use './assets/styles/variables.scss' as *;

.card-form {
  .primary-input {
    border-color: $black;
  }
  &__input-half.primary-input  {
    width: calc(50% - 44px - 20px);
    border-color: $black;
  }

  &__pay-button {
    width: 100%;
    margin-top: 15px;
    justify-content: end;
  }

  &__error-message {
    background-color: $primary-darker;
    width: 100%;
    padding: 20px;
    color: $white;
    border-radius: 10px;
    margin-top: 20px;
    animation: fadeIn 2s;
  }
}