@use './assets/styles/variables.scss' as *;

body {
  margin: 0;
  font-family: 'Segoe UI';
  background-color: rgba($light-gray, 0.1);
}

#root {
  position: relative;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}


.align-center {
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.hide-mobile {
  @media (max-width: 840px) {
    display: none;
  }
}

.show-mobile {
  @media (min-width: 840px) {
    display: none;
  }
}

.container {
  margin: 20px;
  @media (max-width: 840px) {
    margin: 15px;
  }
}

h1, h2, h3, h4 {
  color: $primary;
}

.margin-top {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-top-2 {
  margin-top: 50px;

  @media screen and (max-width: 840px) {
    margin-top: 25px;
  }
}

.margin-bottom-2 {
  margin-bottom: 50px;

  @media screen and (max-width: 840px) {
    margin-bottom: 25px;
  }
}

.link-disabled div{
  cursor: not-allowed !important;
}

.primary-button {
  background-color: $primary;
  color: $white;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid $white;

  &:hover {
    opacity: 0.8;
    border: 2px solid $black;
  }
}

.secondary-button {
  background-color: $white;
  color: $black;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid $primary;

  &:hover {
    opacity: 0.8;
    border: 2px solid $black;
  }
}

.primary-input {
  border: 2px solid $primary;
  width: calc(100% - 4px - 40px);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  margin: 10px 0;
  resize: none;
}

@keyframes loadBanner {
  0%{
    background-color: $primary;
  }

  50% {
    background-color: $primary-darker;
  }

  100% {
    background-color: $primary;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}